{{#if editQuestionForm}}
  <h3>Edit a Question:</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="ask">Question</label>
        {{input value=ask id="ask" placeholder=question.ask}}
      </div>

      <div class="form-group">
        <label for="author">Your Username</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="notes">Additional Notes</label>
        {{input value=notes id="notes" placeholder=question.notes}}
      </div>

      <button {{action 'edit' question}}>Update</button>
    </form>
  </div>
{{else}}
  <button {{action 'editQuestionForm'}}>Edit this Question</button>
{{/if}}
