
<h3>Question: {{question.ask}}</h3>
<h4>From Curious User: </h4><h5>{{question.author}}</h5>
<h4>Additional Notes: </h4><h5>{{question.notes}}</h5><br>

{{edit-question question=question edit="edit"}}<br>

<button {{action 'delete' question}}>Delete this Question</button>
