<h3>Question: {{question.question}}</h3>
<h4>From Curious User: {{question.author}}</h4>
<h4>Additional Notes: {{question.notes}}</h4>

{{edit-question question=question edit="edit"}}

<button {{action 'delete' question}}>Delete this Question</button>
